html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
screen {
  z-index: -1;
  position: fixed;
  display: grid;
  grid-template: "screen";
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
screen #render,
screen video,
screen #credits {
  grid-area: screen;
  display: block;
  width: 1920px;
  height: 1080px;
}
screen #credits content {
  padding: 30px;
  width: calc(800px - 2 * 30px);
  margin-left: calc(1920px - 800px);
  height: calc(1080px - 2 * 30px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 10px;
  background-color: rgba(80, 80, 120, 0.9);
  font-family: monospace;
  font-size: 2em;
  line-height: 1.42;
  color: #fff;
}
screen #credits content a {
  color: #fff;
  border-bottom: dotted 1px #fff;
  text-decoration: none;
}
screen #credits content credit {
  display: grid;
  grid-template: "label names" / 2fr 5fr;
  gap: 24px;
}
screen #credits content credit label {
  grid-area: label;
  font-weight: bold;
}
screen #credits content credit names {
  grid-area: names;
}
control {
  position: fixed;
  width: 100vw;
  bottom: 1vh;
  opacity: 0.8;
}
#bar,
#loading {
  display: none;
  padding: 1vh;
  text-align: center;
  font-size: 1em;
  color: #eee;
}
#bar button,
#loading button {
  padding: 10px;
  background-color: #333;
  border: solid 1px #888;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 100ms ease-out;
}
#bar button:hover,
#loading button:hover {
  transform: scale(1.1);
}
/* helper classes */
.hidden {
  display: none !important;
  visibility: hidden !important;
}
